{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn" onclick="return confirm('Etes vous sur de vouloir modifier cette marque ?');">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
